<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{{url_for('static', filename='outfit.css')}}">

</head>

<body class="bg-light">

    <header>
    <h1>Machine Learning & Predictive Maintenance</h1>
    </header>

<div class="container py-4">
        
    <p class="fs-4">
      Predictive Maintenance is a use case of Machine Learning that focuses
      on predicting equipment failures before they occur by analyzing
      historical and real-time data. Unlike traditional maintenance, which
      is scheduled or reactive, predictive maintenance allows systems to act
      proactively, reducing downtime and costs
    </p>
</div>

<h4>System Flow</h4>

<div class="diseño">
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        Sensor Data
      </div>
      <div class="col">
        Model
      </div>
      <div class="col">
        Prediction
      </div>
      <div class="col">
        Action
      </div>
    </div>
  </div>
</div>
    <ul>
      <li><strong>Sensor Data:</strong> Information collected from machines (temperature, vibration, usage time).</li>
      <li><strong>Model:</strong> Model: Learns patterns from past data.</li>
      <li><strong>Prediction:</strong> Prediction: Estimates the probability of failure.</li>
      <li><strong>Action:</strong> Action: Triggers alerts or maintenance before breakdown.</li>
    </ul>

    <h4>Critical Components:</h4>

<div class="diseño">
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        Historical Data
      </div>
      <div class="col">
        Features
      </div>
      <div class="col">
        Model
      </div>
      <div class="col">
        Output
      </div>
    </div>
  </div>
</div>
    
    <ul>
      <li><strong>Historical Data:</strong> Records of past machine performance and failures.</li>
      <li><strong>Features:</strong> Variables like temperature, pressure, or runtime.</li>
      <li><strong>Model:</strong> Machine Learning algorithms (regression or classification).</li>
      <li><strong>Output:</strong> Failure probability or remaining useful life.</li>
    </ul>

    <h3>Example</h3>
    <p class="fs-4">
      If a machine shows a continuous increase in temperature and vibration, 
      the model can predict a high probability of failure in the near future and alert the system.
    </p>

    <h4>Context: Type of Learning</h4>
    
    <ul>
        <li><strong>Supervised Learning:</strong> Uses labeled data (failure / no failure).</li>
        <li><strong>Unsupervised Learning:</strong> Detects anomalies or unusual behavior.</li>
    </ul>

    <h3>Applications:</h3>

    <p class="fs-4">
      Predictive maintenance is widely used in different industries. In manufacturing, it helps monitor industrial machines to prevent failures.
      In transportation, it is used to detect engine problems before they occur. In IT systems, it helps prevent server crashes and downtime.
      In the energy sector, it is used to monitor turbines and power systems to ensure efficient operation.
    </p>

    <h4>
     Presentation sentence
     <small class="text-body-secondary">“Predictive maintenance uses machine learning to anticipate
       failures before they happen, improving efficiency and reducing operational costs.”</small>
    </h4>

    <div class="container mt-4 mb-5">
    <button onclick="window.location.href='/'" class="btn btn-primary">Back home</button>
    <button onclick="window.location.href='/logisticRegression'" class="btn btn-primary">previous page</button>
    <button onclick="window.location.href='/FirstPage'" class="btn btn-secondary">Next page</button>
    </div>

  <div class="container mt-5">
    <h4>References</h4>
    <ul>
      <li>Géron, A. (2019). Hands-On Machine Learning with Scikit-Learn, Keras, and TensorFlow. O'Reilly Media.</li>
      <li>Goodfellow, I., Bengio, Y., & Courville, A. (2016). Deep Learning. MIT Press.</li>
      <li>Mitchell, T. M. (1997). Machine Learning. McGraw-Hill.</li>
      <a href="https://www.ibm.com/topics/predictive-maintenance" target="_blank" class="btn btn-outline-danger">
            IBM. (2023). What is Predictive Maintenance?
      </a>
      <a href="https://learn.microsoft.com/en-us/azure/architecture/example-scenario/predictive-maintenance" target="_blank" class="btn btn-outline-danger">
            Microsoft Azure. Predictive Maintenance.
      </a>
      <a href="https://developers.google.com/machine-learning/crash-course" target="_blank" class="btn btn-outline-danger">
            Google Developers. Machine Learning Crash Course.
      </a>
    </ul>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>

</html>