<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<body style = "background-color: #45c6f5;"> </body>
<div class="text-bg-primary p-3"><h1> First Page </h1></div>
<div class="text-bg-info p-3"><p> Machine Learning Class  </p> <p> Use case</p></div>
<div class="card text-bg-primary mb-3" style="max-width: 40rem;">
  <div class="card-header">Fraud Detection</div>
  <div class="card-body">
    <p class="card-text">Machine Learning is widely used in banking systems to detect fraudulent transactions.
The model analyzes patterns in user behavior, such as location, spending habits, and transaction frequency.

If a transaction looks unusual (for example, a large purchase in another country), the system flags it as suspicious or blocks it automatically.</p>
  </div>
  
  <img src="/static/fraude.jpg" class="rounded mx-auto d-block" alt="...">
</div>
<p> FRAUD DETECTION IN BANKING DATA BY MACHINE LEARNING TECHNIQUES. (2025). International Journal of Engineering Research and Science & Technology, 21(2), 1478-1481. https://doi.org/10.62643/</p>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
